@model CreateEmployeeDto
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Create Employee</h6>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Name Surname</label>
                        <input type="text" class="form-control" asp-for="Name">
                        <br />

                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <br />

                        <label class="form-label">Mail</label>
                        <input type="email" class="form-control" asp-for="Mail">
                        <br />

                        <label class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" asp-for="PhoneNumber">
                        <br />

                        <label class="form-label">Photo</label>
                        <input type="text" class="form-control" asp-for="ImageUrl">
                        <br />

                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" asp-for="Status">
                        <br />
                    </div>
                    <button type="submit" class="btn btn-primary">Create Employee</button>
                </form>
            </div>
        </div>
    </div>
</div>

