@model List<ResultClientLogoDto>
<section class="w3l-companies-hny-6 py-5">
    <!-- /grids -->
    <div class="container py-md-3">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-2 col-md-4 col-6 column">
                    <div class="company-gd">
                        <a href="#client"><img class="img-responsive" src="@item.LogoUrl" alt="client"></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- //grids -->
</section>
