﻿﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial") @* < ------ > HEADER *@



        @await Component.InvokeAsync("_AdminLayoutSpinnerComponentParital") @* < ------ > SPINNER *@

        @await Component.InvokeAsync("_AdminLayoutSideBarComponentPartial") @* < ------ > SIDE BAR *@

        <div class="content">

            @await Component.InvokeAsync("_AdminLayoutNavBarComponentPartial") @* < ------ > NAV BAR *@

            @RenderBody()

            @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial") @* < ------ > FOOTER *@

        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial") @* < ------ > SCRIPTS *@

</body>
</html>