@model UpdateBottomGridDto
@{
    ViewData["Title"] = "UpdateBottomGrid";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Update Bottom Grid</h6>
                <form method="post">
                    <div class="mb-3">
                        <input type="hidden" asp-for="BottomGridID" />
                        <label class="form-label">Icon</label>
                        <input type="text" class="form-control" asp-for="Icon">
                        <br />
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <br />
                        <label class="form-label">Description</label>
                        <textarea rows="3" type="text" class="form-control" asp-for="Description"></textarea>
                        <br />
                    </div>
                    <button type="submit" class="btn btn-primary">Update bottom grid!</button>
                </form>
            </div>
        </div>
    </div>
</div>


